---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

const siteTitle = "Hentges.AI";
const allPosts: CollectionEntry<"posts">[] = await getCollection("posts");
function compare_post_dates(
	a: CollectionEntry<"posts">,
	b: CollectionEntry<"posts">,
) {
	if (a.data.date < b.data.date) {
		return 1;
	}
	if (a.data.date > b.data.date) {
		return -1;
	}
	return 0;
}
const recentPosts: CollectionEntry<"posts">[] = allPosts
	.sort(compare_post_dates)
	.slice(0, 3);

function cardClick(event: MouseEvent) {
	event.stopPropagation();
	alert("Card clicked!");
}
---

<BaseLayout pageTitle={siteTitle}>
	<div class="main-title">
		<h1>{siteTitle}</h1>
		<p>Technology, Programming, Chess, and Woodworking!</p>
	</div>
	<div class="bottom">
		<div class="bottom-title">Recent Posts:</div>
		<div class="home-card-collection">
			{
				recentPosts.map((post) => (
					<div
						class="home_card"
						onclick={"window.location.href = " + post.slug}
					>
						<a
							class="category_link"
							onclick="cardClick"
							href={post.data.categories}
						>
							{post.data.categories}
						</a>
						<a class="heading_link" onclick="cardClick" href={post.slug}>
							{post.data.title}
						</a>
						<img src={post.data.hero} />
						<div class="card_content">{post.data.summary}...</div>
					</div>
				))
			}
		</div>
	</div>
</BaseLayout>

<style lang="scss">
	@import "../styles/variables";
	.main-title {
		padding: 0;
		text-align: center;
		position: sticky;
		align-self: flex-start;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		min-height: 250px;
		max-height: 340px;
		width: 100%;

		left: 0px;
		background-image: url("https://res.cloudinary.com/dbzsk4ytb/image/upload/c_scale,w_2000/v1631990088/blog-images/chess_background.jpg");
		background-size: cover;
		color: $title-color;
		z-index: 0;
		margin-top: auto;

		.title-img {
			display: block;
			max-width: 100%;
		}

		h1 {
			font-size: 3.5rem;
			font-weight: 700;
			letter-spacing: -0.015em;
			line-height: 1.15;
			text-rendering: optimizeLegibility;
			margin: 0;
			z-index: 10;
		}

		p {
			margin: 0;
			z-index: 10;
			opacity: 0.8;
			font-weight: 600;
		}
	}

	.title-holder {
		position: flex;
		top: 50px;
		display: block;
		z-index: 1;
		width: 100%;
	}
</style>
